<?xml version="1.0" encoding="utf-8"?>
<routes>
  <route route_type="public" route_prefix="login-server" controller="EqemuLogin\Pub\Controller\LoginServerController"/>
  <route route_type="public" route_prefix="login-server" sub_name="create-account" controller="EqemuLogin\Pub\Controller\LoginServerController"/>
  <route route_type="public" route_prefix="login-server" sub_name="update-password" controller="EqemuLogin\Pub\Controller\LoginServerController"/>
</routes>
